<mat-icon aria-hidden="false" svgIcon="github"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="linkedin"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="instagram"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="telegram"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="angular"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="react"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="node-js"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="postgresql"></mat-icon>

<mat-icon aria-hidden="false" svgIcon="mongodb"></mat-icon>

<!-- TODO: remove it!!! -->
<p>{{ "test" | translate }}</p>
