.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        margin-right: 10px;
      }
    }
  }
}
